body{
    background-color: black;
}
    
p{
    color:blueviolet;
}
    
div{
    border: orange 3px solid;
}

#blog-post{
    color: deepskyblue;
}

#post-title{
    color:white;
}

#blog-title{
    color:blueviolet;
}

#post-date{
    color: orange;
}

#container{
    width: 80%;
    margin: 0 auto;
}