* {

    padding: 0px;
    margin: 0px;
    box-sizing:
    border-box;
    
    }
    
body{
    background-color: black;
}
    
p{
    color:blueviolet;
}

#blog-post{
    color: deepskyblue;
}

#post-title{
    color:white;
}

#blog-title{
    color:blueviolet;
}

#post-date{
    color: orange;
}

.container{
    width: 80%;
    margin: 15px;
    border: orange 3px solid;
    padding: 10px;
}

.blog-grid-container{
    display:grid;
    grid-template-columns: 30% 40% 30%;
}
