body{
background-color: black;
}

.blog-title{
    color:blueviolet
}

.picture-title{
    color:white;
}
p{
    color:blueviolet;
}

.blog-post{
    color: deepskyblue;
}

.post-title{
    color:white;
}

.picture-title{
    color: white;
}

div{
    border: orange 5px solid;
}

#container{
    width:80%;
    margin: 0 auto;
}

nav{
    display:grid;
    text-align: center;
}